body {
    font-family: Arial, sans-serif;
    margin: 0; 

}

.content {
    margin-left: 120px; 
    padding: 25px;
    box-sizing: border-box; 
    
}

h1 {
    color: #333;
    margin-top: 0; 
}

p {
    color: #666;
    line-height: 1.6;
    margin-top: 0; 
}

ul {
    color: #666;
    line-height: 1.6;
    margin-left: 20px; 
    margin-top: 0;
}

#scatterplot {
    width: 600px;
    height: 400px;
    margin: 20px auto;
    position: relative;
    border: 1px solid #aaa;
    background-color: lightblue;
    border-width: 5px;
  }
  
  #generateButton,
  #showCurve,
  #changeShape {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
  }
  
  .axis-label {
    position: absolute;
    font-size: 14px;
    font-weight: bold;
  }
  
  .x-axis-label {
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .y-axis-label {
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
    left: -40px;
  }
  
